*{
    margin: 0;
    padding: 0;
}
@font-face {
        font-family: Acrom-Medium;
        src: url(fonts/Acrom-Medium.ttf); 
       }

body{
    font-family:Acrom-Medium;
}

img{
    display: inline-block;
}

.container-bnr{
        width: 100%;
        height: 700px;
        background-image: url(images/background_1500.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        position: relative;
}

.container-bnr .text {
        width: 455px;
        align-items: center;
        position: relative;
        display: flex;
        flex-direction: column;
        margin-right: 423px;
        margin-top: 138px;
}

.container-bnr h1{
        text-transform: uppercase; 
        font-size: 55px;
        font-weight: 300;
        line-height: 1;
        color: #252322;
        padding-bottom: 22px;
        text-align: center;
}

.container-bnr p {
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 300;
        width: 330px;
        text-align: center;
        color: #252322;
        padding-bottom: 21px;
}

.container-bnr .ikonseti {
        display: flex;
        align-items: center;
}

.container-bnr .ya{
        width: 250px;
        margin: 15px; 
}

.container-bnr .delivery{
        width: 180px;
        margin: 15px;    
}

.container-bnr a{
        text-decoration: none;
}

.container-bnr .button{
        margin-top: 25px;
        display: block;
        color: black !important;
        font-size: 25px;
        line-height: 2;
        text-align: center;
        font-family: Acrom, 'Verdana', Arial, sans-serif;
        border: 2px solid #AC1D0D;
        border-radius: 40px;
        width: 150px;
        text-transform: uppercase;
}
.container-bnr .fa-chevron-down{
        display: block;
        color: #fff;
        font-size: 45px;
        cursor: pointer;
        position: absolute;
        bottom: 20px;
}
.container-bnr .text .fa-chevron-down{
        display: none;
        color: #fff;
        font-size: 25px;
        cursor: pointer;
        position: inherit;
        text-align: center;



}

/* ADAPTIV */

@media screen and (max-width: 1199px){
.container-bnr{
        justify-content: center;
        }
.container-bnr .text{
        margin-right: 220px;
        }  
}


@media screen and (max-width: 942px){

.container-bnr{
        justify-content: center;
        }

.container-bnr .text{
        margin-right: 0px;
        /* margin-right: 120px; */
        }  

.container-bnr .fa-chevron-down{
            display: none;
        }
                
.container-bnr .text .fa-chevron-down{
        display: inline-block;  
        color: #fff;
        font-size: 25px;
        margin-top: 43px;
        }

.container-bnr .text {
        margin-top: 198px;
        }
}


@media screen and (max-width: 768px){
.container-bnr .ikonseti{
        flex-wrap: wrap;
        justify-content: center;
    }
.container-bnr{
        justify-content: center;
        }
.container-bnr .text{
        margin-right: 0px;
        margin-top: 108px;
        }
.container-bnr .text .fa-chevron-down{
        margin-top: 43px;
    }
    
}
